cloudflare_api_token  = ""
cloudflare_account_id = ""
cloudflare_zone_id    = ""
hostname              = ""
project_slug          = "gsu-build-day-techie-workshop"
environment           = "dev"
d1_jurisdiction       = ""
d1_primary_location_hint = "wnam"
